 <!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr>
            </div>
        </div>
        <div class="about-martin">
            <img src="img/martin3.png" alt="">
            <div class="text-block">
            
                <h3>Hi, I'm Martin</h3>
                <p>I like to think of myself as a blend between an engineer and a designer. Besides being passionate about my profession and technical background, I find creativity in the workplace to be the best way to provide solutions to challenging problems. It is no coincidence that I find pleasure in graphic design, drawing and music. I practice football on a weekly basis and I love mountain hiking and climbing.</p>
            </div>
        </div>
    </div>
</section>